body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #505050;
  color: white;
}

#showHeroes {
  background-color: rgb(109, 108, 108);
  padding: 20px;
}

#nameHeroes {
  padding: 7px;
  margin: 10px;
}

#nameHeroe {
  margin-top: 0;
  text-align: center;
}

#imgHeroe, #imgHeroe2 {
  border: 1px solid wheat;
}

#btnRandom {
  border-radius: 5px;
  width: 150px;
  height: 30px;
  margin: 10px;
}